/* All CSS styles go here */
.backgroundcolor{
   background-color: #f0f8ff;
}
.wrapper{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 500px;
}

.cover{
width: 100vw;
height: 100vh;
background: url("../images/grammy1.jpg") no-repeat center fixed;
background-size: cover;
}
.video{
    position: absolute;
    left: 50%;
    bottom: -94%;
    transform: translate(-50%, -50%);
    border: black 20px;


}
.headline{
    font-style: italic;
}
.headline2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: deeppink;
    letter-spacing: 0.3px;
    text-align: right;
width: 500px;
    height: 300px;
    padding-top: 750px;
    float: right;
padding-right: 290px;

}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
    color: white;
    position: absolute;
    letter-spacing: 0.3px;
    left: 70%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.dateauthor{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
color: deeppink;
}
#author{
    font-size: 22px;
    color: deeppink;
}
/*#firstsentence{*/
/*    text-align: center;*/
/*}*/

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    letter-spacing: 0.3px;
    font-style: italic;
    line-height: 48px;
padding: 30px 0 10px 0;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: 0.3px;
    line-height: 32px;

}
.image{
    position: center;
    padding: 20px 0 20px 430px;
}
.othervideos{
    position: center;
    padding: 20px 0 10px 430px;
}
.correction{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: deeppink;
padding: 0 250px 0 250px;
}